EMAIL_USER=info@xyraco.com
EMAIL_PASS=WcvDB1MdHH&0
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
NEXT_PUBLIC_SITE_URL=https://xyraco.com
ALLOWED_ORIGINS=https://xyraco.com,https://www.xyraco.com
RECAPTCHA_SECRET_KEY=
